[core]
	quotePath = false
[alias]
	c = commit
	ca = commit --amend
	cm = commit -m
	co = checkout
	d = diff
	ds = diff --staged
	l = log --graph --all --pretty=format:'%C(brightmagenta)%h%C(blue)%d%Creset %s %C(white)- %an, %ar%Creset'
	last = log -1
	main = checkout main
	praise = blame
	s = status
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.inc
