[submodule "ghostty/.config/ghostty/catppuccin"]
	path = ghostty/.config/ghostty/catppuccin
	url = git@github.com:catppuccin/ghostty.git
[submodule "tmux/.config/tmux/plugins/catppuccin/tmux"]
	path = tmux/.config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
